body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rgb(219, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
    height: auto;
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    color: black;
}

.demo-button {
    background-color: orange;
        border-radius: 5px;
}
.demo-button:hover {
    color: white;
}

.output {
    margin-top: 30px;
    color: black;
}


.highlight {
    color: rgb(30, 10, 3);
    font-weight: bold;
}

