*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active {
    background-image: linear-gradient(yellow, green);
}

.container {
    background-image: linear-gradient(rgb(71, 193, 71), rgb(238, 238, 40));
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 90%;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 20px;
}

.about {  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 30px;
}

button {
    background-image: linear-gradient(yellow, green);
    border-radius: 20px;
    border: none;
    color: aliceblue;
    border-radius: 2px;
    height: 20px;
}

.myinfo {
    font-size: 15px;
    color: black;
}

.myinfo p {
    display: none;
}
